In [1]:
import mysql.connector
import pandas as pd
import numpy as np

In [2]:
connection  = mysql.connector.connect(host="localhost",
                                     database="Aditya",
                                     user="root",
                                     password="Aytida123#")

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("select * from flipkartmobile")
colnames = [col[0] for col in cursor.description]

In [5]:
df = pd.DataFrame(cursor.fetchall())
df.to_csv ('Flipkart_Mobile_Data.csv', index = False)
df = pd.read_csv('Flipkart_Mobile_Data.csv', names=colnames)
connection.close()

In [6]:
df.head()

,Model_Name,Storages,Display,Rating,Price,No_of_Ratings_and_Reviews
0,0,1,2,3.0,4,5
1,"Redmi 8 (Onyx Black, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,15.8 cm (6.22 inch) HD+ Display,4.4,"₹10,990","9,27,766 Ratings & 67,298 Reviews"
2,"POCO C3 (Arctic Blue, 64 GB)",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,16.59 cm (6.53 inch) HD+ Display,4.3,"₹8,349","2,23,370 Ratings & 13,999 Reviews"
3,"POCO C3 (Arctic Blue, 32 GB)",3 GB RAM | 32 GB ROM | Expandable Upto 512 GB,16.59 cm (6.53 inch) HD+ Display,4.3,"₹7,349","3,15,865 Ratings & 22,024 Reviews"
4,"realme C20 (Cool Blue, 32 GB)",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB,16.51 cm (6.5 inch) HD+ Display,4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews"

In [7]:
data = df.iloc[1: , :]
data = data.drop(columns=["Storages","Display"])
data.head()

,Model_Name,Rating,Price,No_of_Ratings_and_Reviews
1,"Redmi 8 (Onyx Black, 64 GB)",4.4,"₹10,990","9,27,766 Ratings & 67,298 Reviews"
2,"POCO C3 (Arctic Blue, 64 GB)",4.3,"₹8,349","2,23,370 Ratings & 13,999 Reviews"
3,"POCO C3 (Arctic Blue, 32 GB)",4.3,"₹7,349","3,15,865 Ratings & 22,024 Reviews"
4,"realme C20 (Cool Blue, 32 GB)",4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews"
5,"realme C20 (Cool Grey, 32 GB)",4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews"

In [8]:
def get_name(value):
    v1 = value.split(' (')
    name = v1[0]
    return name


def get_color(value):
    v1 = value.split('(')
    if len(v1)>=2:
        v2 = v1[1].split(',')
        color = v2[0]
    else:
        color = np.nan
    return color

In [9]:
data["Model Name"] = data["Model_Name"].apply(get_name)
data["Color"] = data["Model_Name"].apply(get_color)

In [10]:
data.head()

,Model_Name,Rating,Price,No_of_Ratings_and_Reviews,Model Name,Color
1,"Redmi 8 (Onyx Black, 64 GB)",4.4,"₹10,990","9,27,766 Ratings & 67,298 Reviews",Redmi 8,Onyx Black
2,"POCO C3 (Arctic Blue, 64 GB)",4.3,"₹8,349","2,23,370 Ratings & 13,999 Reviews",POCO C3,Arctic Blue
3,"POCO C3 (Arctic Blue, 32 GB)",4.3,"₹7,349","3,15,865 Ratings & 22,024 Reviews",POCO C3,Arctic Blue
4,"realme C20 (Cool Blue, 32 GB)",4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews",realme C20,Cool Blue
5,"realme C20 (Cool Grey, 32 GB)",4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews",realme C20,Cool Grey

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 1 to 984
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Model_Name                 984 non-null    object
 1   Rating                     966 non-null    float64
 2   Price                      983 non-null    object
 3   No_of_Ratings_and_Reviews  966 non-null    object
 4   Model Name                 984 non-null    object
 5   Color                      634 non-null    object
dtypes: float64(1), object(5)
memory usage: 46.3+ KB

In [20]:
def replac(value):
    try:
        value = value.replace("₹","")
        value = value.replace(",","")
        return int(value)
    except:
        return value

In [21]:
data["price"] = data["Price"].apply(replac)

In [22]:
data.head()

,Model_Name,Rating,Price,No_of_Ratings_and_Reviews,Model Name,Color,price
1,"Redmi 8 (Onyx Black, 64 GB)",4.4,"₹10,990","9,27,766 Ratings & 67,298 Reviews",Redmi 8,Onyx Black,10990.0
2,"POCO C3 (Arctic Blue, 64 GB)",4.3,"₹8,349","2,23,370 Ratings & 13,999 Reviews",POCO C3,Arctic Blue,8349.0
3,"POCO C3 (Arctic Blue, 32 GB)",4.3,"₹7,349","3,15,865 Ratings & 22,024 Reviews",POCO C3,Arctic Blue,7349.0
4,"realme C20 (Cool Blue, 32 GB)",4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews",realme C20,Cool Blue,7499.0
5,"realme C20 (Cool Grey, 32 GB)",4.4,"₹7,499","1,83,334 Ratings & 8,729 Reviews",realme C20,Cool Grey,7499.0